#page_content {
  background-color: transparent !important;
}

.chakra-ui-dark .naboo {
  --tempo-colors-bg-main: #111 !important;
  --tempo-colors-divider-main: #333 !important;
  --tempo-colors-border-neutral-primary-default: #333 !important;
  --tempo-colors-divider-neutral-primary-default: #2a2a2a !important;
  --tempo-colors-background-neutral-secondary-default: #222 !important;
}
.chakra-ui-dark #page_naboo_artist .content-left,
.chakra-ui-dark .gvb2b .bF9AU, .jE33l,
.chakra-ui-dark .css-548som a.ZzbWE.ENwNR.animate-wobble,
.chakra-ui-dark .catalog-tab-box.discography-row,
.chakra-ui-dark .chakra-button.css-b2g8lm {
  background-color: rgba(0,0,0,0.3) !important;
}
.chakra-ui-light #page_naboo_artist .content-left,
.chakra-ui-light .gvb2b .bF9AU, .jE33l,
.chakra-ui-light .css-548som a.ZzbWE.ENwNR.animate-wobble,
.chakra-ui-light .chakra-button.css-b2g8lm {
  background-color: rgba(210,210,210,0.4) !important;
}

.css-548som a.ZzbWE.ENwNR.animate-wobble {
  padding: 10px !important;
  height: auto !important;
  border: 0 !important;
}
#page_naboo_artist .last-release .catalog-tab-box {
  background-color: transparent !important;
}
.top-content.content-top.content-left {
  padding: 0 !important;
}
.JR0qJ > div:hover {
  background-color: rgba(0,0,0,0.4) !important;
}
.chakra-ui-light .thumbnail-col:not(:has(.thumbnail-rounded)),
.chakra-ui-light .tfT2j:not(.wbExq) {
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.15) !important;
}
.chakra-ui-dark .thumbnail-col:not(:has(.thumbnail-rounded)),
.chakra-ui-dark .tfT2j:not(.wbExq) {
  box-shadow: 0 0 5px 2px rgba(0,0,0,0.3) !important;
}

.chakra-ui-dark .thumbnail-col:not(:has(.thumbnail-rounded)) {
  background-color: rgba(64,64,64,0.6) !important;
}
.chakra-ui-light .thumbnail-col:not(:has(.thumbnail-rounded)) {
  background-color: rgba(210,210,210,0.4) !important;
}
.thumbnail-grid:not(:has(.slide-background)) {
  padding: 5px !important;
}
.chakra-ui-dark .thumbnail-col:has(.nano-card-list),
.chakra-ui-light .thumbnail-col:has(.nano-card-list),
.tfT2j.wbExq {
  background-color: transparent !important;
}
.chakra-ui-light .thumbnail-col-list:has(.nano-card-list) {
  box-shadow: none !important;
}

.chakra-ui-light .css-3ti3p2 {
  border: solid 1px #aaa !important;
}
.chakra-ui-dark .css-3ti3p2 {
  border: solid 1px #333 !important;
  background-color: var(--tempo-colors-background-neutral-secondary-default) !important;
}
