@font-face {
  font-family: 'LeagueSpartan';
  font-style: normal;
  font-weight: 500;
  src: url('./LeagueSpartan-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  src: url('./Inter-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./Inter-Bold.woff2') format('woff2');
}
