.css-pb14rf {
  display: none !important;
}

.css-efpag6 .css-10rt0md {
  display: flex !important;
}

.css-efpag6 {
  width: 100% !important;
  height: 56px !important;
  flex-direction: row !important;
  padding: 0 !important;
  z-index: 10 !important;
}
.css-efpag6 .css-10rh1s9 {
  margin: 11px 0 0 18px !important;
  flex-direction: row !important;
}
.chakra-ui-dark .css-efpag6 {
  box-shadow: -1px 0 10px 0 rgba(0,0,0,0.7) !important;
}
.chakra-ui-light .css-efpag6 {
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.2) !important;
}

.css-efpag6 .css-10rt0md {
  padding: 0 !important;
  flex-direction: row !important;
  align-items: center !important;
}

.css-efpag6 .css-1cg9o3l {
  padding-left: 13px !important;
}

.deezer-reborn-chromium .css-efpag6 .css-1cg9o3l {
  margin-top: -12px !important;
}

.deezer-reborn-firefox .css-efpag6 .css-1cg9o3l {
  margin-top: -11px !important;
}

.css-1tznp1b,
.css-17psu0s {
  border-radius: 0 !important;
  padding-bottom: 11px !important;
  padding-right: 15px !important;
}
.css-1tznp1b:hover,
.css-17psu0s:hover {
  background-color: transparent !important;
}

.css-1tznp1b {
  border-bottom: solid 2px var(--tempo-colors-background-accent-primary-default) !important;
}

#page_topbar {
  background-color: var(--tempo-colors-background-neutral-secondary-default) !important;
  border: none !important;
  padding-left: 0 !important;
  min-width: unset !important;
  height: 56px !important;
}
.deezer-reborn-chromium #page_topbar {
  left: 540px !important;
}
.deezer-reborn-firefox #page_topbar {
  left: 547px !important;
}
.topbar-search-form svg {
  scale: 0.85 !important;
}
.deezer-reborn-firefox .topbar-search-form svg {
  margin-top: -2px !important;
}
.deezer-reborn-chromium .topbar-search-form svg {
  margin-top: -1px !important;
}
.chakra-ui-dark .topbar-search-form svg {
  filter: brightness(1.5) !important;
}
.chakra-ui-light .topbar-search-form svg {
  filter: brightness(0) !important;
}
input#topbar-search::placeholder {
  font-size: 1.125em !important;
  font-family: "LeagueSpartan", sans-serif !important;
}
.chakra-ui-light input#topbar-search::placeholder {
  color: #000 !important;
}
.chakra-ui-dark input#topbar-search::placeholder {
  color: #aaa !important;
}
#page_topbar input {
  padding-left: 46px !important;
  background-color: transparent;
  border-color: transparent !important;
  outline: none !important;
}
.topbar-search-submit {
  margin-top: unset !important;
}
.topbar-search {
  width: 100% !important;
  max-width: 450px !important;
  margin-left: -19px;
}
.page-topbar .topbar-profile {
  min-width: 32px !important;
}

/* Buttons hover */

.css-bizdq9:hover, .css-bizdq9[data-hover] {
  background-color: transparent !important;
}

/* Search history popup */

.topbar-search,
#topbar-search,
.topbar-search-form,
.topbar-search .popper-wrapper {
  height: 100% !important;
}
.topbar-search .popper-wrapper {
  display: flex !important;
  align-items: center !important;
}
.topbar-search-form {
  margin-left: -23px;
}
.deezer-reborn-firefox .topbar-search-form {
  padding-top: 12px !important;
 }
.deezer-reborn-chromium .topbar-search-form {
  padding-top: 7px !important;
}
.topbar-search .popper {
  transform: unset !important;
  top: 41px !important;
  background-color: #222 !important;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
  left: 16px !important;
}
.topbar-search .popper .popper-content {
  padding: 0 20px 30px 20px;
  border-radius: 0;
  background-color: #222 !important;
  max-height: 100% !important;
}
.popper .nano-content {
  padding-right: 20px !important;
}
.popper .nano-content-ref div:nth-of-type(2) h2 {
  margin-bottom: 10px !important;
}

.naboo {
  --layout-sidebar-width: 0 !important;
}

/* Flows */

.css-wdw34f.e6a98up1 {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(125px, 175px)) !important;
  gap: 10px !important;
  width: 100% !important;
}
.css-6lkr7e.e6a98up0 {
  width: 100% !important;
  margin: 0 !important;
  min-width: 100% !important;
}

/* Fix 2023/12/07 */

.css-rpdt7i {
  flex-direction: row !important;
  margin-top: -11px !important;
}
.css-mt7908,
.css-4t267p {
  flex-direction: row;
}

.css-1riztqe {
  border-bottom: solid 2px var(--tempo-colors-accent-main);
}

/* Title and menus container. Keep both selectors, one is for Win, the other is for Linux */

.css-16lzxju,
.css-w8kdg9 {
  flex-direction: row !important;
}
